/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*===== Colors =====*/
  --first-color: #FFFFF;
  --first-color-dark: #8b95eb;
  --first-color-darken: #5d6db1;
  --white-color: #001;
  --first-color-menu: rgb(100, 100, 114);
  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: 0.938rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}
/*===== BASE =====*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

.section {
  padding: 6rem 0 6rem;
}

/*===== NAV =====*/
.navbar__menu {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 30;
  padding: 25px 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar__menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #fff;
}
.navbar__logo {
  position: relative;
  display: flex;
  font-size: 2em;
}
.navbar__logo-text {
  color: #000;
  font-weight: 600;
}
.navbar__item {
  display: inline-block;
  margin: 0 1.5rem 0;
}
.navbar__link {
  display: block;
  font-size: 16px;
  color: #000;
}
@media screen and (max-width: 750px) {
  .navbar__list {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background: rgba(241, 241, 241, 0.662745098);
    backdrop-filter: blur(8px);
    transition: 0.4s;
  }
  .navbar__list.active {
    right: 0;
  }
  .navbar__link {
    display: block;
    margin-bottom: 25px;
  }
  .navbar__humbger {
    position: absolute;
    display: block;
    top: 1.8rem;
    right: 1.5rem;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    outline: none;
    z-index: 30;
    cursor: pointer;
  }
  .navbar__humbger .navbar__bar, .navbar__humbger::before, .navbar__humbger::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 0.75rem;
    background: #000;
    margin: 6px 0;
    transition: 0.4s;
  }
  .navbar__humbger.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .navbar__humbger.active::after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .navbar__humbger.active .navbar__bar {
    opacity: 0;
  }
}

.home {
  padding: 10rem 0 5rem;
}
.home__data {
  position: relative;
  padding: 20px;
  font-size: 18px;
}
.home__data h1 {
  font-size: 45px;
}
.home__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 640px;
}
.home__button {
  position: absolute;
  display: block;
  margin: 15px 0 0;
  padding: 20px 35px;
  font-size: 16px;
  border-radius: 0.75rem;
  color: #000;
  background: rgb(97, 125, 255);
}

.team__container {
  max-width: 1120px;
  display: grid;
  padding: 15px;
  margin: 35px auto 0;
}
.team__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 35px 0 0;
}
.team__profile-container {
  width: 340px;
  display: block;
  text-align: center;
  padding: 35px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
}
.team__img-container {
  display: block;
  width: 150px;
  height: 150px;
  margin: -85px 50% 25px;
  border-radius: 5rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}
.team__pseudo {
  font-size: 24px;
  color: rgb(97, 125, 255);
}
.team__posts-info {
  display: flex;
  justify-content: center;
  margin: 0 45px 0;
}
.team__posts-info p {
  margin: 5px 8px 0;
}
.team__social-container {
  display: flex;
  justify-content: center;
  margin: 0 45px 0;
}
.team__social-container button {
  display: flex;
  border: none;
  background: none;
  font-size: 25px;
  padding: 5px;
  border-radius: 1rem;
  margin: 15px 8px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 750px) {
  .team__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.8rem;
  }
}

.about__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.about__img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 340px;
}
.about__data {
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
